body, html, *{
    margin: 0 auto;
    padding: 0;
}
.app{
    display: flex;
    justify-content: center;
}
.header{
    padding:20px;
    text-align: center;
    height: 5vh;

}
.footer{
    text-align:center;
    height: 3vh;
    padding: 10px;
}
.newsfeed{

    background-color: rgba(204,204,231);
    padding: 10px;
    margin: 5px;
    box-shadow: 0 3px 10px rgba(0 0 0/0.2);
    max-width: 300px;
}
.currency-converter{
    background-color:rgba(230,223,211);
    padding: 10px;
    margin: 5px;
    height: 50vh;
    box-shadow: 0 3px 10px rgba(0 0 0/0.2);
    text-align: center;
  
}
.app{
    display:flex;
    flex-direction: row;
  
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 2px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;

}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.exchange{
    background-color:rgb(221,230,221);
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 3px 10px rgba(0 0 0/0.2);
}